/ref
/wip-screens
/release
/deps

/*.wrl
/*.obj
/debug.txt
/gamestate.txt
/guerilla.cfg
/heap_dump.txt
/data/debug_lightmaps.tif
/tool_d3d9.log
/startup_crash.log

*.tif~
*.blend1

/tags/camera
/tags/characters
/tags/cinematics
/tags/data
/tags/effects
/tags/fixed_mozzarilla_active_camo_block.globals.active_camouflage
/tags/globals
/tags/item collections
/tags/lens flares
/tags/light_tints
/tags/old tags
/tags/powerups
/tags/rasterizer
/tags/rasterizer_bitmap_generator.py
/tags/scenery
/tags/screenshots
/tags/sound
/tags/tags
/tags/ui
/tags/vehicles
/tags/WARNING! README!.txt
/tags/weapons
/tags/levels/a10
/tags/levels/a30
/tags/levels/a50
/tags/levels/b30
/tags/levels/b40
/tags/levels/c10
/tags/levels/c20
/tags/levels/c40
/tags/levels/d20
/tags/levels/d40
/tags/levels/test
/tags/levels/ui
/tags/levels/alpine/bitmaps
/tags/levels/alpine/alpine.bitmap
/tags/sky/bitmaps
/tags/sky/clear afternoon
/tags/sky/dusk
/tags/sky/mp_dusk
/tags/sky/mp clear afternoon
/tags/sky/planets
/tags/sky/ring
/tags/sky/sky_a30
/tags/sky/sky_a50
/tags/sky/sky_d20
/tags/sky/sky_d40
/tags/sky/sky_gephyrophobia
/tags/sky/sky_icefields
/tags/sky/sky_infinity
/tags/sky/sky_sidewinder
/tags/sky/sky_timberland
/tags/sky/sky_ui
/tags/sky/sky_x10
/tags/sky/space
